
.nav-link {
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ABEBC6  ;
    transform: translateY(-0.35em);
    border-color: rgba(255, 255, 255, 0.5);
}

#logout:hover{
    border-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-0.7em);
}

#logout {
    border-bottom: 2px solid transparent;
    transform: translateY(0.5em);
    margin-left: 15px;
}


