<% layout('layouts/boilerplate') %>
    <h1>Welcome Home</h1>
    <div class="container mt-3">
    <a class="btn btn-sm btn-primary" href="/campgrounds">All Campgrounds</a>
    <a class="btn btn-sm btn-info" href="/campgrounds/new">Add Campground</a>
</div>

