<% layout('layouts/boilerplate') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <p>The error caught up with is <%= err.message %></p>
    <hr>
    <div>
        <a class="btn btn-warning" href="/campgrounds/home">Go Home</a>
    </div>
  </div>